.textcenter {
    text-align: center !important;
    color: blue;
}

/* ion-icon {
    border: 1 solid currentColor;
    color: red;
} */

@media print {
    .noPrint {
        display: none;
    }
}

ion-label{
    text-transform: none;
}